<a href="https://colab.research.google.com/github/Shreygupta2002/Titanic---Machine-Learning-from-Disaster/blob/main/Titanic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanicüö¢

# **Introduction**
The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered ‚Äúunsinkable‚Äù RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren‚Äôt enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: ‚Äúwhat sorts of people were more likely to survive?‚Äù using passenger data (ie name, age, gender, socio-economic class, etc).

Link for the Competition - https://www.kaggle.com/c/titanic/overview

**Importing Libraries and DataSet**

In [1]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/drive/Othercomputers/My Laptop/Machine Learning/Titanic/train.csv')

**Overview Of The Data**

In [3]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

*We see that the Passenger ID, name, Ticket and Cabin are of no use.
So we can remove them.*

In [4]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'], inplace=True)

In [5]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

Filling the missing Embarked values as **S**. Only 2 missing values have very less impact on the dataset.

In [6]:
df['Embarked']=df['Embarked'].fillna('S')

Removing the rows with age NaN

In [7]:
df = df[df['Age'].isna()==False]

In [8]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

Modifying the Age Column 


*   Age <20 as 0
*   20<=Age<50 as 1  
*   Age>50 as 2

In [9]:
for index, row in df.iterrows():
  if row['Age']<20:
    df.at[index,'Age']=0
  elif row['Age']<50:
    df.at[index,'Age']=1
  else:
    df.at[index,'Age']=2

In [10]:
df

     Survived  Pclass     Sex  Age  SibSp  Parch     Fare Embarked
0           0       3    male  1.0      1      0   7.2500        S
1           1       1  female  1.0      1      0  71.2833        C
2           1       3  female  1.0      0      0   7.9250        S
3           1       1  female  1.0      1      0  53.1000        S
4           0       3    male  1.0      0      0   8.0500        S
..        ...     ...     ...  ...    ...    ...      ...      ...
885         0       3  female  1.0      0      5  29.1250        Q
886         0       2    male  1.0      0      0  13.0000        S
887         1       1  female  0.0      0      0  30.0000        S
889         1       1    male  1.0      0      0  30.0000        C
890         0       3    male  1.0      0      0   7.7500        Q

[714 rows x 8 columns]

Removing the Fare Column as it is of no use..

In [11]:
df.drop(columns=['Fare'], inplace=True)

Preparing Data for Training

In [12]:
df['Sex'].replace({'male':0, 'female':1}, inplace=True)
df['Embarked'].replace({'S':0, 'C':1, 'Q':2}, inplace= True)

In [13]:
df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch  Embarked
0         0       3    0  1.0      1      0         0
1         1       1    1  1.0      1      0         1
2         1       3    1  1.0      0      0         0
3         1       1    1  1.0      1      0         0
4         0       3    0  1.0      0      0         0

In [14]:
X=df.drop(columns=['Survived'])

In [15]:
Y=df['Survived']

In [16]:
X=X.to_numpy()
Y=Y.to_numpy()

Splitting Train and Test data

In [231]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.1, random_state=2)

In [232]:
X_train.shape

(642, 6)

In [233]:
X_test.shape

(72, 6)

**MODEL TRAINING**

In [214]:
def get_model():
  inputs=keras.Input(shape=(6,))
  
  x=layers.Dense(64)(inputs)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=keras.layers.Dropout(0.2)(x)

  x=layers.Dense(128)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  x=layers.Dense(256)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  x=layers.Dense(512)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  x=layers.Dense(512)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.3)(x)

  x=layers.Dense(1024)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.3)(x)

  x=layers.Dense(2048)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  x=layers.Dense(4096)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  x=layers.Dense(1024)(x)
  x=layers.BatchNormalization()(x)
  x=keras.activations.elu(x)
  x=layers.Dropout(0.2)(x)

  outputs=layers.Dense(1, activation='sigmoid')(x)

  model=keras.Model(inputs=inputs, outputs=outputs)

  return model

In [215]:
model=get_model()
model.summary()

Model: "model_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_21 (InputLayer)        [(None, 6)]               0
_________________________________________________________________
dense_186 (Dense)            (None, 64)                448
_________________________________________________________________
batch_normalization_166 (Bat (None, 64)                256
_________________________________________________________________
tf.nn.elu_166 (TFOpLambda)   (None, 64)                0
_________________________________________________________________
dropout_121 (Dropout)        (None, 64)                0
_________________________________________________________________
dense_187 (Dense)            (None, 128)               8320
_________________________________________________________________
batch_normalization_167 (Bat (None, 128)               512
_________________________________________________________________
tf.nn.elu_167 (TFOpLambda)   (None, 128)               0
_________________________________________________________________
dropout_122 (Dropout)        (None, 128)               0
_________________________________________________________________
dense_188 (Dense)            (None, 256)               33024
_________________________________________________________________
batch_normalization_168 (Bat (None, 256)               1024
_________________________________________________________________
tf.nn.elu_168 (TFOpLambda)   (None, 256)               0
_________________________________________________________________
dropout_123 (Dropout)        (None, 256)               0
_________________________________________________________________
dense_189 (Dense)            (None, 512)               131584
_________________________________________________________________
batch_normalization_169 (Bat (None, 512)               2048
_________________________________________________________________
tf.nn.elu_169 (TFOpLambda)   (None, 512)               0
_________________________________________________________________
dropout_124 (Dropout)        (None, 512)               0
_________________________________________________________________
dense_190 (Dense)            (None, 512)               262656
_________________________________________________________________
batch_normalization_170 (Bat (None, 512)               2048
_________________________________________________________________
tf.nn.elu_170 (TFOpLambda)   (None, 512)               0
_________________________________________________________________
dropout_125 (Dropout)        (None, 512)               0
_________________________________________________________________
dense_191 (Dense)            (None, 1024)              525312
_________________________________________________________________
batch_normalization_171 (Bat (None, 1024)              4096
_________________________________________________________________
tf.nn.elu_171 (TFOpLambda)   (None, 1024)              0
_________________________________________________________________
dropout_126 (Dropout)        (None, 1024)              0
_________________________________________________________________
dense_192 (Dense)            (None, 2048)              2099200
_________________________________________________________________
batch_normalization_172 (Bat (None, 2048)              8192
_________________________________________________________________
tf.nn.elu_172 (TFOpLambda)   (None, 2048)              0
_________________________________________________________________
dropout_127 (Dropout)        (None, 2048)              0
_________________________________________________________________
dense_193 (Dense)            (None, 4096)              8392704
_________________________________________________________________
batch_normalization_173 (Bat (None, 4096)              16384
_________________________________________________________________
tf.nn.elu_173 (TFOpLambda)   (None, 4096)              0
_________________________________________________________________
dropout_128 (Dropout)        (None, 4096)              0
_________________________________________________________________
dense_194 (Dense)            (None, 1024)              4195328
_________________________________________________________________
batch_normalization_174 (Bat (None, 1024)              4096
_________________________________________________________________
tf.nn.elu_174 (TFOpLambda)   (None, 1024)              0
_________________________________________________________________
dropout_129 (Dropout)        (None, 1024)              0
_________________________________________________________________
dense_195 (Dense)            (None, 1)                 1025
=================================================================
Total params: 15,688,257
Trainable params: 15,668,929
Non-trainable params: 19,328
_________________________________________________________________

In [216]:

model.compile(optimizer=keras.optimizers.Adam(),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [234]:

model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
21/21 [==============================] - 0s 20ms/step - loss: 0.4951 - accuracy: 0.7555
Epoch 2/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4424 - accuracy: 0.8178
Epoch 3/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4703 - accuracy: 0.7741
Epoch 4/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4743 - accuracy: 0.8069
Epoch 5/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4388 - accuracy: 0.7944
Epoch 6/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4307 - accuracy: 0.8146
Epoch 7/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4384 - accuracy: 0.7975
Epoch 8/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4328 - accuracy: 0.8146
Epoch 9/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4208 - accuracy: 0.8209
Epoch 10/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4423 - accuracy: 0.7928
Epoch 11/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4475 - accuracy: 0.8131
Epoch 12/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4299 - accuracy: 0.8240
Epoch 13/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4244 - accuracy: 0.8178
Epoch 14/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4588 - accuracy: 0.7960
Epoch 15/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4521 - accuracy: 0.7944
Epoch 16/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4111 - accuracy: 0.8084
Epoch 17/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4183 - accuracy: 0.8146
Epoch 18/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4155 - accuracy: 0.8255
Epoch 19/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4454 - accuracy: 0.8146
Epoch 20/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4390 - accuracy: 0.8131
Epoch 21/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4255 - accuracy: 0.8131
Epoch 22/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4518 - accuracy: 0.8006
Epoch 23/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4382 - accuracy: 0.8037
Epoch 24/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4386 - accuracy: 0.8115
Epoch 25/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4355 - accuracy: 0.8224
Epoch 26/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4263 - accuracy: 0.8146
Epoch 27/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4352 - accuracy: 0.8162
Epoch 28/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4605 - accuracy: 0.8084
Epoch 29/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4411 - accuracy: 0.8131
Epoch 30/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4379 - accuracy: 0.8146
Epoch 31/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4282 - accuracy: 0.8287
Epoch 32/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4399 - accuracy: 0.8069
Epoch 33/100
21/21 [==============================] - 0s 17ms/step - loss: 0.4302 - accuracy: 0.8115
Epoch 34/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4633 - accuracy: 0.7928
Epoch 35/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4747 - accuracy: 0.7835
Epoch 36/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4382 - accuracy: 0.8022
Epoch 37/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4390 - accuracy: 0.7991
Epoch 38/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4409 - accuracy: 0.8162
Epoch 39/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4433 - accuracy: 0.8115
Epoch 40/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4174 - accuracy: 0.8131
Epoch 41/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4303 - accuracy: 0.8006
Epoch 42/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4562 - accuracy: 0.7882
Epoch 43/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4343 - accuracy: 0.8255
Epoch 44/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4321 - accuracy: 0.8162
Epoch 45/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4331 - accuracy: 0.7819
Epoch 46/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4500 - accuracy: 0.8006
Epoch 47/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4590 - accuracy: 0.7944
Epoch 48/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4193 - accuracy: 0.8193
Epoch 49/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4473 - accuracy: 0.8037
Epoch 50/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4525 - accuracy: 0.7975
Epoch 51/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4152 - accuracy: 0.8084
Epoch 52/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4182 - accuracy: 0.8069
Epoch 53/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4355 - accuracy: 0.8022
Epoch 54/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4293 - accuracy: 0.8022
Epoch 55/100
21/21 [==============================] - 0s 18ms/step - loss: 0.3994 - accuracy: 0.8162
Epoch 56/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4647 - accuracy: 0.7913
Epoch 57/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4266 - accuracy: 0.8240
Epoch 58/100
21/21 [==============================] - 0s 17ms/step - loss: 0.4191 - accuracy: 0.8084
Epoch 59/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4344 - accuracy: 0.7944
Epoch 60/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4470 - accuracy: 0.7913
Epoch 61/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4418 - accuracy: 0.7944
Epoch 62/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4253 - accuracy: 0.8162
Epoch 63/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4388 - accuracy: 0.7928
Epoch 64/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4256 - accuracy: 0.8162
Epoch 65/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4401 - accuracy: 0.8037
Epoch 66/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4318 - accuracy: 0.8131
Epoch 67/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4139 - accuracy: 0.8240
Epoch 68/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4479 - accuracy: 0.8146
Epoch 69/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4456 - accuracy: 0.8209
Epoch 70/100
21/21 [==============================] - 0s 17ms/step - loss: 0.4485 - accuracy: 0.8022
Epoch 71/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4126 - accuracy: 0.8209
Epoch 72/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4148 - accuracy: 0.8053
Epoch 73/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4436 - accuracy: 0.8146
Epoch 74/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4348 - accuracy: 0.8069
Epoch 75/100
21/21 [==============================] - 0s 17ms/step - loss: 0.4375 - accuracy: 0.8146
Epoch 76/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4338 - accuracy: 0.8022
Epoch 77/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4281 - accuracy: 0.8255
Epoch 78/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4392 - accuracy: 0.7960
Epoch 79/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4283 - accuracy: 0.8162
Epoch 80/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4361 - accuracy: 0.8037
Epoch 81/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4366 - accuracy: 0.8146
Epoch 82/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4670 - accuracy: 0.7882
Epoch 83/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4457 - accuracy: 0.7991
Epoch 84/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4345 - accuracy: 0.8100
Epoch 85/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4329 - accuracy: 0.7975
Epoch 86/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4373 - accuracy: 0.8037
Epoch 87/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4560 - accuracy: 0.8022
Epoch 88/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4130 - accuracy: 0.8209
Epoch 89/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4720 - accuracy: 0.7882
Epoch 90/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4297 - accuracy: 0.8146
Epoch 91/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4331 - accuracy: 0.8053
Epoch 92/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4272 - accuracy: 0.8006
Epoch 93/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4680 - accuracy: 0.7866
Epoch 94/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4409 - accuracy: 0.7975
Epoch 95/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4161 - accuracy: 0.8380
Epoch 96/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4463 - accuracy: 0.8069
Epoch 97/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4725 - accuracy: 0.7819
Epoch 98/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4622 - accuracy: 0.7960
Epoch 99/100
21/21 [==============================] - 0s 18ms/step - loss: 0.4491 - accuracy: 0.8084
Epoch 100/100
21/21 [==============================] - 0s 19ms/step - loss: 0.4278 - accuracy: 0.8069

In [235]:
model.evaluate(X_test, y_test, batch_size=32)

3/3 [==============================] - 0s 5ms/step - loss: 0.6091 - accuracy: 0.8056

[0.6090970635414124, 0.8055555820465088]

**Importing Test Data to be Submitted**

In [138]:
df_test=pd.read_csv('/content/drive/Othercomputers/My Laptop/Machine Learning/Titanic/test.csv')

In [139]:
df_test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

Changing the data as per the model

In [140]:
df_test.drop(columns=['Name','Ticket', 'Cabin', 'Fare'], inplace=True)

In [141]:
for index, row in df_test.iterrows():
  if row['Age']<20:
    df_test.at[index,'Age']=0
  elif row['Age']<50:
    df_test.at[index,'Age']=1
  else:
    df_test.at[index,'Age']=2

In [142]:
df_test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [143]:
df_test['Sex'].replace({'male':0, 'female':1}, inplace=True)
df_test['Embarked'].replace({'S':0, 'C':1, 'Q':2}, inplace= True)

In [144]:
df_test.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch  Embarked
0          892       3    0  1.0      0      0         2
1          893       3    1  1.0      1      0         0
2          894       2    0  2.0      0      0         2
3          895       3    0  1.0      0      0         0
4          896       3    1  1.0      1      1         0

Making Predictions

In [236]:
yp=model.predict(df_test.drop(columns=['PassengerId']))

In [237]:
y_pred=np.round(yp)

Making of the Submit DataFrame

In [238]:
submit=pd.DataFrame(data=df_test['PassengerId'], columns=['PassengerId'])

In [239]:
submit.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [240]:
submit['Survived'] = y_pred

In [241]:
submit.head()

   PassengerId  Survived
0          892       0.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       0.0

In [242]:
submit.to_csv('/content/drive/Othercomputers/My Laptop/Machine Learning/Titanic/submit.csv')